* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: hsl(210, 46%, 95%);
  color: hsl(217, 19%, 35%);
  line-height: 1;
}

.article-preview-component {
  max-width: 80rem;
  margin: 12.8rem auto;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1.5fr;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1.2rem;
  position: relative;
}

.article-preview-image-wrapper {
  background-image: url(./Images/drawers.jpg);
  background-size: cover;
  min-height: 32rem;
  border-top-left-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
}

.article-preview-text-wrapper {
  padding: 0rem 4rem;
}

.article-preview-title {
  font-size: 2rem;
  letter-spacing: 0.5px;
  font-weight: 800;
  line-height: 1.5;
  margin-bottom: 1.6rem;
}

.article-preview-description {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 2rem;
  letter-spacing: 0.7px;
  color: hsl(214, 17%, 51%);
}

.profile-wrapper {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.profile-image {
  max-width: 5rem;
  border-radius: 50%;
}

.profile-details {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-size: 1.3rem;
}

.name {
  font-weight: 700;
  letter-spacing: 0.5px;
}

.date {
  font-weight: 600;
  color: hsl(212, 23%, 69%);
}

.btn {
  margin-left: auto;
  border: none;
  border-radius: 50%;
  font-size: 2.2rem;
  background-color: hsl(210, 46%, 95%);
  color: hsl(214, 17%, 51%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  cursor: pointer;
}

.btn:hover {
  color: hsl(210, 46%, 95%);
  background-color: hsl(214, 17%, 51%);
}

.share-wrapper {
  background-color: hsl(217, 19%, 35%);
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1.6rem 3.2rem;
  color: hsl(214, 17%, 51%);
  border-radius: 0.8rem;
  font-size: 1.2rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  position: absolute;
  transform: translate(20%, -70%);
  right: 0;
  bottom: 8rem;
}

.share-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(100%, 95%);
  border-left: 1.2rem solid transparent;
  border-right: 1.2rem solid transparent;
  border-top: 1.2rem solid hsl(217, 19%, 35%);
}

.social-link {
  color: hsl(0, 0%, 100%);
  font-size: 2rem;
}
